[
  {hanoidb, [
    {data_root, "./data/hanoidb"},

    %% Enable/disable on-disk compression.
    %%
    {compress, none},

    %% Expire (automatically delete) entries after N seconds.
    %% When this value is 0 (zero), entries never expire.
    %%
    {expiry_secs, 0},

    %% Sync strategy `none' only syncs every time the
    %% nursery runs full, which is currently hard coded
    %% to be evert 256 inserts or deletes.
    %%
    %% Sync strategy `sync' will sync the nursery log
    %% for every insert or delete operation.
    %%
    {sync_strategy, sync},

    %% The page size is a minimum page size, when a page fills
    %% up to beyond this size, it is written to disk.
    %% Compression applies to such units of page size.
    %%
    {page_size, 8192},

    %% Read/write buffer sizes apply to merge processes.
    %% A merge process has two read buffers and a write
    %% buffer, and there is a merge process *per level* in
    %% the database.
    %%
    {write_buffer_size, 524288},  % 512kB
    {read_buffer_size, 524288},  % 512kB

    %% The merge strategy is one of `fast' or `predictable'.
    %% Both have same log2(N) worst case, but `fast' is
    %% sometimes faster; yielding latency fluctuations.
    %%
    {merge_strategy, fast},

    %% "Level0" files has 2^N KVs in it, defaulting to 1024.
    %% If the database is to contain very small KVs, this is
    %% likely too small, and will result in many unnecessary
    %% file operations.  (Subsequent levels double in size).
    {top_level, 10}  % 1024 Key/Values
    ]
  }
].
