{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
        {hashids, ".*",  {git, "https://github.com/snaiper80/hashids-erlang.git",  {tag, "1.0.4"}}},
        {lager, "1.2.1", {git, "https://github.com/basho/lager.git", {tag, "1.2.1"}}},
        {edown, "0.3.*", {git, "https://github.com/uwiger/edown.git", {branch, "master"}}},
        {hanoidb, ".*", {git, "https://github.com/krestenkrab/hanoidb.git", {branch, "master"}}}
       ]
}.

{relx, [{release, { adb_core, "0.0.1" },
         [adb_core,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
